<form [formGroup]="form">
    <div class="form-group">
        <label>Old password</label>
        <input formControlName="oldpass" id="oldpass" type="text" class="form-control">
        <div *ngIf="oldpass.touched && oldpass.invalid">
            <div class="alert alert-danger" *ngIf="oldpass.errors.required">Old password is required</div>
            <div class="alert alert-danger" *ngIf="oldpass.errors.isoldvalid">Old password is not correct</div>
        </div>
    </div>
    <div class="form-group">
        <label>New password</label>
        <input formControlName="newpass" id="newpass" type="text" class="form-control">
        <div *ngIf="newpass.touched && newpass.invalid">
            <div class="alert alert-danger" *ngIf="newpass.errors.required">New password is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Confirm password</label>
        <input formControlName="confirmpass" id="confirmpass" type="text" class="form-control">
        <div *ngIf="confirmpass.touched && confirmpass.invalid">
            <div class="alert alert-danger" *ngIf="confirmpass.errors.required">Confirm password is required</div>
        </div>
        <div *ngIf="confirmpass.valid && form.invalid && form.errors.dontmatch" class="alert alert-danger">
            Passwords do not match.
        </div>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>


